/* Общие стили для изображений */
img {
    max-width: 100%; /* Изображение не превышает ширину контейнера */
    height: auto; /* Автоматическая высота */
}

/* Ограничение высоты изображений для карусели */
.carousel-inner img {
    max-height: 500px; /* Максимальная высота карусели */
    object-fit: cover; /* Сохраняет пропорции и обрезает лишнее */
}

/* Ограничение высоты изображений для карточек */
.card-img-top {
    max-height: 300px; /* Максимальная высота карточек */
    object-fit: cover; /* Сохраняет пропорции и обрезает лишнее */
}

/* Эффект при наведении на карточку */
.hover-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}
